<nav class="navbar navbar-expand navbar-light bg-primary">
    <ul class="navbar-nav mr-auto">
        <a href="/" class="navbar-brand">
            <img src="/img/casa.png">
        </a>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-item btn btn-secondary" href="/logout">Logout</a>
        </li>
    </ul>
</nav>